<footer class="bg-clir-footer dark:bg-stone-900 border-t border-stone-200 dark:border-stone-800 mt-stack-lg">
    <div class="site-shell py-16 grid grid-cols-1 md:grid-cols-2 gap-8 w-full">
        <div>
            <img class="h-15 w-auto" alt="CLIR logo" src="/assets/logos/CLIR-logo-banner-red-hairline.png">
            {# <div class="text-xl font-bold text-stone-800 dark:text-stone-100 mb-8">CLIR</div>
            <p class="font-serif text-sm uppercase tracking-widest text-stone-500 dark:text-stone-400 max-w-sm">
                Council on Library and Information Resources
            </p> #}
            <div class="mt-8 space-y-4">
                <div class="flex space-x-6">
                    <a class="text-stone-500 dark:text-stone-400 font-serif text-sm uppercase tracking-widest underline decoration-primary-container underline-offset-4 transition-all duration-300" href="#">Privacy Policy</a>
                    <a class="text-stone-500 dark:text-stone-400 font-serif text-sm uppercase tracking-widest underline decoration-primary-container underline-offset-4 transition-all duration-300" href="#">Terms of Service</a>
                </div>
                <div class="flex space-x-6">
                    <a class="text-stone-500 dark:text-stone-400 font-serif text-sm uppercase tracking-widest underline decoration-primary-container underline-offset-4 transition-all duration-300" href="#">Contact Us</a>
                    {# <a class="text-stone-500 dark:text-stone-400 font-serif text-sm uppercase tracking-widest underline decoration-primary-container underline-offset-4 transition-all duration-300" href="#">Archive Index</a> #}
                </div>
            </div>
        </div>
        <div class="flex flex-col md:items-end justify-between">
            <div class="flex space-x-4">
                <i class="text-primary hover:text-stone-800 text-3xl fa-brands fa-youtube"></i> 
                <i class="text-primary hover:text-stone-800 text-3xl fa-brands fa-linkedin"></i>    
                <i class="text-primary hover:text-stone-800 text-3xl fa-solid fa-square-rss"></i>            {# <span class="material-symbols-outlined text-stone-400 hover:text-primary cursor-pointer">youtube</span> #}
                {# <span class="material-symbols-outlined text-stone-400 hover:text-primary cursor-pointer">linkedin</span>
                <span class="material-symbols-outlined text-stone-400 hover:text-primary cursor-pointer">rss</span>#}
            </div> 
            <p class="font-serif text-sm uppercase tracking-widest text-stone-500 dark:text-stone-400 mt-12 md:mt-0 text-left md:text-right">
                Unless otherwise indicated, content on this site is available for re-use under <a class="text-stone-500 dark:text-stone-400 font-serif text-sm uppercase tracking-widest underline decoration-primary-container underline-offset-4 transition-all duration-300" target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/legalcode">CC BY-SA 4.0 License</a>.
            </p>
        </div>
    </div>
</footer>