<section class="bg-clir-onyx text-clir-paper py-stack-lg border-y border-stone-800">
    <div class="site-shell">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-stack-lg items-center">
            <div class="space-y-stack-md">
                <h2 class="font-headline-lg text-headline-lg leading-tight">Quantifying Preservation. Sustaining Knowledge.</h2>
                <p class="font-body-lg text-body-lg text-stone-400 max-w-lg">
                        For nearly seventy years, CLIR has functioned as a neutral convener, a strategic analyst, and a catalyst for change in the information landscape.
                    </p>
                <div class="grid grid-cols-2 gap-8 pt-8">
                    <div class="border-t border-stone-700 pt-4">
                        <span class="font-display-lg text-stat block">big number</span>
                        <span class="font-label-caps text-label-caps text-stone-500 uppercase">Institutional Partners</span>
                    </div>
                    <div class="border-t border-stone-700 pt-4">
                        <span class="font-display-lg text-stat block">$34M</span>
                        <span class="font-label-caps text-label-caps text-stone-500 uppercase">In Grant Awards</span>
                    </div>
                </div>
            </div>
            <div class="relative aspect-square md:aspect-video bg-stone-800 flex items-center justify-center">
                <img alt="Historic Library" class="w-full h-full object-cover opacity-50 grayscale" data-alt="A grand, historic library interior with tall wooden shelves filled with leather-bound books, captured in a cinematic, low-angle perspective. The lighting is moody and atmospheric, with golden dust motes dancing in shafts of soft light. The aesthetic is one of timeless knowledge and high-contrast editorial photography, utilizing the Deep Onyx and Paper palette to emphasize the permanence of the archive." src="https://lh3.googleusercontent.com/aida-public/AB6AXuDKm-G4sCmFC6wWMLaFR92WudcP3I2HfSLNWGHyHRyn2o5YAvb4OHjv8wlSa2o2Xm5Akit_DJzGTE3BvQ_UXfN1J2KI2BLSGpA1WbuFbEsEoHbPI7B-VmJM5aIPSXyCUy3tQXq49R5dr-pq5tSaqzc-7lY_hwFNKTZqyfIRzjmcd_9hkHv-TFE0AdWUoEKSejcFtBMsVQvI52D2Fd2LSHVF6Bw6p5RSL0FmUwU_tov_jDGTJ9P-kCw7z4z8Wo4_V4ineFbeoCe6pwc"/>
                <div class="absolute inset-0 bg-gradient-to-t from-clir-onyx to-transparent opacity-60"></div>
            </div>
        </div>
    </div>
</section>