<html class="light" lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <title>CLIR &middot; Home</title>
        <link href="/site.css" rel="stylesheet"/>
        {# <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&amp;family=Inter:wght@300;400;500;600;700&amp;family=JetBrains+Mono:wght@400;500&amp;display=swap" rel="stylesheet"/> #}
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&amp;display=swap" rel="stylesheet"/>


        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">

    </head>
    <body class="bg-clir-paper text-clir-onyx font-body-md selection:bg-primary-container selection:text-white">
        <!-- TopNavBar -->
        {% include "navbar.njk" %}
        <!-- Hero Section -->
        {% include "hero.njk" %}
        <!-- The Mosaic Grid -->
        {% include "mosaic.njk" %}
        <!-- Impact Section -->
        {% include "impact.njk" %}
        <!-- News & Thought Leadership -->
        {% include "news.njk" %}
        <!-- Footer -->
        {% include "footer.njk" %}
    </body>
</html>