---
layout: base.njk
title: Home
---

<!-- Hero Section -->
{% include "hero.njk" %}
<!-- The Mosaic Grid -->
{% include "mosaic.njk" %}
<!-- Impact Section -->
{% include "impact.njk" %}
<!-- News & Thought Leadership -->
{% include "news.njk" %}
